.wrapper {
    display: flex;
    overflow-x: hidden;
}

.duck-one {
    z-index: 1;
    left: 15px;
    position: relative;
}

.duck-two {
    z-index: 2;
    left: 0px;
    position: relative;
}

.duck-three {
    z-index: 3;
    left: -15px;
    position: relative;
}

.duck-two:hover, .duck-one:hover { 
    z-index: 10; 
}